# Base
/.idea
/.venv*
*.pyc
*.egg-info
.DS_Store
/node_modules*
yarn-error.log
yarn.lock
/tmp

# Custom
/htdocs/examples/_static/*
!/htdocs/examples/_static/README.txt

# Transitional
/htdocs/examples/lqdn-gafam-campaign
