@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('https://ptrace.gafam.info/upstream/font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FuturaExtended';
    src: url('https://ptrace.gafam.info/upstream/font/FuturaExtended.ttf') format('truetype');
}
@font-face {
    font-family: 'FuturaMaxiBold';
    src: url('https://ptrace.gafam.info/upstream/font/FuturaMaxiBold.ttf') format('truetype');
}


/* Webfont: Lato-Regular */
/* http://www.latofonts.com/lato-free-fonts/ */
@font-face {
    font-family: 'LatoWeb';
    src: url('https://ptrace.gafam.info/unofficial/font/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('https://ptrace.gafam.info/unofficial/font/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://ptrace.gafam.info/unofficial/font/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('https://ptrace.gafam.info/unofficial/font/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('https://ptrace.gafam.info/unofficial/font/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */
/* http://www.latofonts.com/lato-free-fonts/ */
@font-face {
    font-family: 'LatoWebHeavy';
    src: url('https://ptrace.gafam.info/unofficial/font/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('https://ptrace.gafam.info/unofficial/font/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://ptrace.gafam.info/unofficial/font/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
    url('https://ptrace.gafam.info/unofficial/font/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
    url('https://ptrace.gafam.info/unofficial/font/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Muli Regular */
/* https://fonts.google.com/specimen/Muli */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(https://ptrace.gafam.info/upstream/font/Muli-Regular.woff2) format('woff2');
}

/* Webfont: Muli Black */
/* https://fonts.google.com/specimen/Muli */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 900;
    src: local('Muli Black'), local('Muli-Black'), url(https://ptrace.gafam.info/upstream/font/Muli-Black.woff2) format('woff2');
}

/*
Webfont: Amiri Font
https://www.amirifont.org/
https://github.com/alif-type/amiri
@import url(http://fonts.googleapis.com/css?family=Amiri:400,700&subset=latin,arabic);
*/
@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400;
    src: local('Amiri Regular'), local('Amiri-Regular'), url(https://ptrace.gafam.info/unofficial/font/Amiri-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    src: local('Amiri Bold'), local('Amiri-Bold'), url(https://ptrace.gafam.info/unofficial/font/Amiri-Bold.ttf) format('truetype');
}

/*
Webfont: Amiri Font
https://www.amirifont.org/
https://github.com/alif-type/amiri
@import url(http://fonts.googleapis.com/css?family=Amiri:400italic&subset=latin);
*/
@font-face {
    font-family: 'Amiri';
    font-style: italic;
    font-weight: 400;
    src: local('Amiri Italic'), local('Amiri-Italic'), url(https://ptrace.gafam.info/unofficial/font/Amiri-Slanted.ttf) format('truetype');
}
@font-face {
    font-family: 'Amiri';
    font-style: italic;
    font-weight: 700;
    src: local('Amiri Bold'), local('Amiri-Bold'), url(https://ptrace.gafam.info/unofficial/font/Amiri-BoldSlanted.ttf) format('truetype');
}
