/* https://yoksel.github.io/flex-cheatsheet/ */

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0px;
    /* Counter Bulma */
    color: black !important;
    font-family: Futura, Arial;
}

#title-container {
    height: 7cm;
}
#title-content {
    /* width: 72%; */
    width: 16.0cm;
}

#title-text {
    display: block;
}

#body-container {
    height: 17.9cm;
}
#body-content {

    /* Three lines */
    /* width: 72%; */

    /* Four lines */
    /* width: 55%; */

    /* New default, will be reduced at runtime on demand */
    width: 65%;

    line-height: 1.0;
    font-weight: 900;
}

#footer-container {
    height: 4.8cm;
}
#footer-content {
    /*
    width: 90%;
    height: 70%;
    margin: 0;
    padding: 0;
    height: 65%;
    height: 100%;
    */
    width: 85%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-right {
    height: 100%;
}

#footer-left {
    max-width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer-text {

    overflow-wrap: normal;
    white-space: nowrap;

    font-size: x-large;
    line-height: 1.1;

    display: flex;
}

#footer-content #organization-name {
    font-weight: 900;
    font-size: xx-large;
}
#footer-content #organization-logo {
    width: 3.0cm;
}

/* https://stackoverflow.com/questions/15295697/make-an-image-to-fit-its-parent-dimensions/15295754#15295754 */
.image-fit {
    max-width: 100%;
    overflow: hidden;
}

.inverted {
    color: white;
    background: black;
}

.content-centered {
    /* https://css-tricks.com/centering-css-complete-guide/ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clearfix {
    clear: both;
}
